<h2>Player List</h2>

<ul>
    <table id = "user_info" class = "container">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col"> Address</th>
                <th scope="col">city</th>
                <th scope="col">state</th>
                <th scope="col"> Zipcode</th> 
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{FirstName}}</td>
                <td>{{LastName}}</td>
                <td>{{Address}}</td>
                <td>{{CityName}}</td>
                <td>{{State}}</td>
                <td>{{ZipCode}}</td>
                {{!-- <td>{{Latitude}}</td>
                <td>{{Longitude}}</td> --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</ul>
